@model WebApplication_MVC_GRUPO8.ViewModels.ComentarioViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">
                       Agregar comentario a la incidencia #@Model.idIncidencia
                    </h4>
                </div>
                <div class="card-body">

                    @* Mensajes de error general *@
                    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

                    @* Formulario *@
                    <form asp-action="Create" method="post">

                        <div class="mb-3">
                            <label asp-for="texto" class="form-label">
                                 Comentario
                            </label>
                            <input asp-for="texto" class="form-control" placeholder="Agregar comentario" />
                            <span asp-validation-for="texto" class="text-danger"></span>
                        </div>
                        @* campo para enviar idIncidencia *@
                        <input type="hidden" asp-for="idIncidencia" />
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4">
                            <a asp-action="Index" class="btn btn-danger">
                                <i class="bi bi-arrow-left"></i> Cancelar
                            </a>
                            <button type="submit" class="btn btn-primary">
                                 Agregar comentario
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
